---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nettoyage Tapis Résidentiel">
  <header class="page-header">
    <div class="container">
      <h1>Nettoyage de Tapis Résidentiel</h1>
      <p>Pour un foyer sain, propre et accueillant.</p>
    </div>
  </header>

  <section class="section-padding">
    <div class="container">
      <h2>Votre maison mérite ce qu'il y a de mieux</h2>
      <p>
        Nos équipes se déplacent chez vous avec notre unité mobile. Idéal pour
        les familles avec enfants ou animaux.
      </p>
      <ul>
        <li>Élimination des odeurs d'animaux</li>
        <li>Traitement des taches de vin, café, nourriture</li>
        <li>Séchage rapide pour un retour à la normale dans la journée</li>
      </ul>
      <br />
      <a href="/contact" class="btn btn-primary">Soumission en ligne</a>
    </div>
  </section>
</Layout>

<style>
  .page-header {
    background-color: var(--color-empire-blue);
    color: white;
    padding: 4rem 0;
    text-align: center;
  }
</style>
